@use "../general" as *;

.bekræftelse{
    &__input{
        border: 3px solid $narboksBlue;
        padding: 15px 0px;
        text-align: center;
        border-radius: $borderRadius;
        font-family: $fontFamily;
        font-size: 20px;
        width: 100%;
    }

    &__text{
        margin: 30px 0px;
       text-align: center; 
       font-size: 20px;
    }

    &--underline{
        text-decoration: underline;
    }
}