@use "../general" as *;

.loginScreen{
    width: 300px;
    margin: auto;
}

.pinkode{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.pin{
    height: 50px;
    width: 50px;
    text-align: center;
    border: 2px solid $narboksBlue;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholderBlue;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $placeholderBlue;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $placeholderBlue;
}
:-moz-placeholder { /* Firefox 18- */
    color: $placeholderBlue;
}