/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Images */
img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  border: none;
  padding: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.btn--primary {
  background: #12a0d6;
}
.btn--near {
  background: #ea5b0c;
}
.btn--fullwidth {
  width: 100%;
  margin-top: 15px;
}

.Input {
  width: 100%;
  border: 3px solid #12a0d6;
  border-radius: 10px;
  padding: 15px 0px;
}
.Input__opt {
  padding: 18px 20px;
  border: none;
  margin-left: -2px;
  background: #12a0d6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.Input__numb {
  padding: 0px 20px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pakkeInfo {
  font-family: Arial, Helvetica, sans-serif;
  width: 343px;
  border-radius: 10px;
  padding: 26px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 100px;
  grid-template-columns: 1fr 100px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #848484;
  gap: 25px 0px;
  background: #fff;
  margin: 15px auto;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pakkeInfo__Title {
  font-size: 17px;
  font-weight: bold;
  color: #12a0d6;
  margin: 1.5em 0;
}
.pakkeInfo__status {
  color: #0fbe00;
  margin: 1em 0;
  font-size: 16px;
  font-weight: bold;
}
.pakkeInfo__ShowMore {
  text-align: center;
  color: #848484;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 10px;
  display: inline-block;
}
.pakkeInfo__CarrierLogo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.pakkeInfo__more {
  overflow: hidden;
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.pakkeInfo--show {
  display: block;
}

.loginScreen {
  width: 300px;
}