@use "styles/general" as *;
@use "styles/modules" as *;
@use "styles/pages" as *;

.content {
  padding: 15px;
  color: $primaryFontColor;
}

.header {
  width: 100%;
  height: 103px;
  background: $narboksBlue;
  display: grid;
  grid-template-columns: 36px 1fr;
  justify-content: space-around;
  align-items: center;

  &__title {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  &__menu {
    width: 35px;
    z-index: 1;
    transition: all 1s ease-in-out;
    margin-left: 20px;
    &--open > &-line:nth-child(1) {
      transform: rotate(-45deg) translateY(7px) translateX(-7px);
    }
    &--open > &-line:nth-child(2) {
      transform: rotate(45deg) translateY(-1px);
    }
    &--open > &-line:nth-child(3) {
      transform: rotate(45deg) translateY(2px);
      opacity: 0;
    }
  }
  &__menu-line {
    display: block;
    width: 100%;
    height: 3px;
    margin: 8px 0px;
    background: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  &__navigation {
    width: 100%;
    height: 100%;
    background: $narboksBlue;
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
    left: -100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &--open {
      left: 0;
    }
    &-title {
      margin-top: 38px;
      margin-bottom: 35px;
    }
    &-item {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 15px;
      font-size: 1.2rem;
      margin: 20px 0px;
    }
  }
}
