@use "color" as *;
@use "gStyle" as *;

.btn{
    border: none;
    padding: 15px;
    grid-column: 1/3;
    border-radius: $borderRadius;
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    &--primary{
        background: $narboksBlue;
    }

    &--near{
        background: $swipboxOrange;
    }
}

.round-btn {
    height: 179px;
    width: 179px;
    background: $narboksBlue;
    color: #fff;
    font-size: 1.5rem;
    border: solid 0px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0,0,0, .16);
}

